@import './utils/colors.scss';
@import './utils/common.scss';

.appContainer{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
}
.gameContainer{
    @extend .base;
}
html, body, #root{
    @extend .base;
}