@import './utils/colors.scss';
@import './utils/common.scss';

.base{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.appContainer{
    background-color: $primaryColor;
    width: 100%;
    height: 100%;
    color: white;
}
.gameContainer{
    @extend .base;
}
html, body, #root{
    @extend .base;
}