@import './utils/colors.scss';
@import './utils/common.scss';

#creatorContainer{
  @extend .base;
  background-color: pink;
  color: #112d4e;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{

}
.inputFunction{
  @extend .baseTextInput;
  width: 200px;
  margin-top: 24px;
}

.buttonInput{
  @extend .baseButton;
  width: 100px;
  margin-top: 18px;
}

